{% extends "/layouts/auth_layout.twig" %}
{% block area %}
    <div class="btn-controls">

        <div class="row-fluid">
            <h2 style="color: darkblue;">Project Overview</h2>
            <hr style="background-color: #002a80">
            <div class="row-fluid">
                <div class="span12">

                    <a href="#" class="btn-box big span12" id="over"><i class=" icon-map icon-home">Overall Statistics</i></a>

                    <div class="row-fluid" id="overall" style="display:none">
                        <div class="span8">
                            <br> <h4 style="color: darkblue;">Statistics Summary</h4>
                            <div class="row-fluid" >
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Number of households<br><em>500</em></b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Population<br><em>1820</em></b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Gender<br><em>1820</em></b>
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Local Employment<br><em>385</em></b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-ban-circle"></i><b>Unemployment<br><em>490</em></b></a>
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Youth Employment<br><em>128</em></b></a>
                                </div>
                            </div>  
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-home"></i><b>Church<br><em>10</em></b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-book"></i><b>Schools<br><em>15</em></b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-plus-sign"></i><b>Clinics<br><em>5</em></b></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

        </div>

            <div class="row-fluid">
                <div class="span12">
                    <a href="#" class="btn-box big span12" id="mog"><i class=" icon-map icon-home">Mogalakwena</i></a>

                    <div class="row-fluid" id="one" style="display:none">
                        <div class="span8">
                            <br> <h4 style="color: darkblue;">Mogalakwena</h4>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Number of households</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Population</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Gender</b>
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Local Employment</b>
                                    </a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-ban-circle"></i><b>Unemployment</b> </a>
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Youth Employment</b></a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-home"></i><b>Church</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-book"></i><b>Schools</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-plus-sign"></i><b>Clinics</b> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <a href="#" class="btn-box big span12" id="rust"><i class=" icon-map icon-home">Rustenburg</i></a>

                    <div class="row-fluid" id="two" style="display:none">
                        <div class="span8">
                            <br> <h4 style="color: darkblue;">Rustenburg</h4>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Number of households</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Population</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Gender</b>
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Local Employment</b>
                                    </a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-ban-circle"></i><b>Unemployment</b> </a>
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Youth Employment</b></a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-home"></i><b>Church</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-book"></i><b>Schools</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-plus-sign"></i><b>Clinics</b> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <a href="#" class="btn-box big span12" id="thaba"><i class=" icon-map icon-home">Thabazimbi</i></a>

                    <div class="row-fluid" id="three" style="display:none">
                        <div class="span8">
                            <br> <h4 style="color: darkblue;">Thabazimbi</h4>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Number of households</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Population</b>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-user"></i><b>Gender</b>
                                    </a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Local Employment</b>
                                    </a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-ban-circle"></i><b>Unemployment</b> </a>
                                    <a href="#" class="btn-box small span4"><i class="icon-briefcase"></i><b>Youth Employment</b></a>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#" class="btn-box small span4"><i class="icon-home"></i><b>Church</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-book"></i><b>Schools</b></a>
                                    </a><a href="#" class="btn-box small span4"><i class="icon-plus-sign"></i><b>Clinics</b> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

    </div>
    <!--/#btn-controls-->
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        $("#over").click(function () {
			if($('#overall').css("display") === 'none')
			{
			    $('#overall').show();
                $('#one').hide();
                $('#two').hide();
                $('#three').hide();
			}
			else {
			    $('#overall').hide();
			}
		})
        $("#mog").click(function(){

            if($('#one').css("display") === 'none')
            {
                $('#one').show();
                $('#two').hide();
                $('#three').hide();
                $('#overall').hide();
            }
            else
            {
                $('#one').hide();
            }
        });
        $("#rust").click(function(){

            if($('#two').css("display") === 'none')
            {
                $('#two').show();
                $('#one').hide();
                $('#three').hide();
                $('#overall').hide();
            }
            else
            {
                $('#two').hide();
            }
        });
        $("#thaba").click(function(){

            if($('#three').css("display") === 'none')
            {
                $('#three').show();
                $('#one').hide();
                $('#two').hide();
                $('#overall').hide();
            }
            else
            {
                $('#three').hide();
            }
        });

    });
</script>
{% endblock %}