{% extends "layouts/auth_layout.twig" %}
{% block area %}

    <div class="row-fluid">

        <div class="span6">
            <gender></gender>
        </div>

        <div class="span6">
            <graphs></graphs>
        </div>
    </div><br>

    <div class="row-fluid">
        <div class="span6">
            <employment></employment>
        </div>

        <div class="span6">
            <income></income>
        </div>

    </div><br>

    <div class="row-fluid">
        <div class="span6">
            <asset></asset>
        </div>

        <div class="span6">
            <house></house>
        </div>

    </div><br>

    <div class="row-fluid">
        <div class="span6">
           <household></household>
        </div>

        <div class="span6">
            <population></population>
        </div>

    </div>

{% endblock %}